@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  overflow-x: hidden;
}

html {
  background-color: rgb(22, 28, 30);
  margin: 0;
  padding: 0;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.3);
}

@keyframes fade-in {
  from { opacity: 0; transform: translateX(50px), translateY(10px) }
  to { opacity: 1; transform: none;}
}

.wel-1 {
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
  animation-delay: 1s;
}

.wel-2 {
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
  animation-delay: 2s;
}

.wel-3 {
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
  animation-delay: 2.5s;
}

.wel-4 {
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
  animation-delay: 3.5s;
}